{% extends "base.html" %}
{% block title %}
    SomeBlog
{% endblock %}

{% block content %}
<div class="container">
    <h1>Greetings {{ user.username }}!</h1>
    <hr>
    {% if user.is_authenticated  %}
        <a class="btn btn-primary" href="{% url 'blog:create' %}">Create new post</a>
    {% endif %}
    {% if posts %}
        <h2 style="margin-top: 70px">Posts: </h2>
        {% for post in posts %}
            {% include 'home/inc/post_link.html' with post=post %}
        {% endfor %}
    {% else %}
        <p>There are no posts!</p>
    {% endif %}
</div>
{% endblock %}