{% extends "base.html" %}
{% block content %}

<div class="content container d-flex justify-content-center flex-column align-items-center">
    <h1>Register</h1>
    <form class="login" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="login-buttons">
            <input class="btn btn-dark" type="submit"  value="Submit" />
        </div>
        <br>
        <div class="login-links">
            <span>or <a href="{% url 'login'%}?next={% url 'home:home'%}">login</a></span>
        </div>
    </form>
</div>
{% endblock %}