{% extends "base.html" %}
{% block content %}

<div class="content container d-flex justify-content-center flex-column align-items-center">
    <h1>Login</h1>
    <form class="login" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>{{ form.username.label }}:</div>
        <div>{{ form.username }}</div>
        <div>{{ form.password.label }}:</div>
        <div>{{ form.password }}</div>
        <br>
        <div class="login-buttons">
            <input class="btn btn-dark" type="submit"  value="Submit" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <br>
        <div class="login-links">
            <span><a href="{% url 'register' %}">register</a> or <a href="{% url 'home:password_reset' %}">reset password</a></span>
        </div>
    </form>
</div>
{% endblock %}